html, body {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Verdana';
	box-sizing: border-box;
	color: #63889b;
}

/** {
	outline: 1px solid red;
}*/

/*------NAV-----*/

nav {
	display: flex;
	justify-content: space-between;
	font-size: 1.8rem;
	padding: 25px 0;
	position: fixed;
	background-color: #fff;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
	box-shadow: 0px 0px 70px rgb(99, 99, 99, 0.5);
}

.brand, .nav-links {
	display: flex;
	align-items: center;
}

.brand {
	margin-left: 6%;
	position: relative;
	z-index: 5;
}

.logo {
	max-width: 70px;
	max-height: 45px;
	margin-right: 25px;
}

.nav-links {
	position: relative;
	margin-right: 6%;
}

.nav-links .link {
	text-transform: uppercase;
	margin-right: 16px;
	cursor: pointer;
	transition: all .2s ease;
}

.nav-links .link:hover {
	color: #014263;
}

.ham-menu {
	display: none;
}

/*-----HEADER-----*/

header {
	background-image: url(img/canada.jpeg);
	background-position: center;
	background-size: cover;
	height: 80vh;
	margin-top: 92px;
}

.header-info {
	display: inline-block;
	color: #fff;
	font-size: 1.8rem;
	background-color: rgba(0,0,0,0.6);
	padding: 35px;
	margin-left: 10%;
	margin-top: 4%;
}

header p {
	margin: 0;
	padding: 0;
}

header p:first-child {
	margin-bottom: 25px;
}


/*-----MAIN-----*/

main {
	display: flex;
	background-color: #fff;
}

.col {
	flex-basis: 33.33%;
	padding: 50px 0 40px 0;
}

.col p {
	width: 65%;
	font-size: 1.25rem;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.col img {
	display: block;
	margin: 0 auto;
}

.col-3 img {
	width: 280px;
	height: 155px;
}

.col-3 img, .col-3 h3, .col-3 p {
	position: relative;
	top: -8px;
}

.col-2 img, .col-2 h3, .col-2 p {
	position: relative;
	top: 30px;
}

.col-1 {
	margin-left: 7%;
}

.col-3 {
	margin-right: 7%;
}

h3 {
	text-align: center;
}

/*------FOOTER-----*/

footer {
	font-family: 'Helvetica';
	background-color: #63889b;
	display: flex;
	justify-content: space-between;
	color: #fff;
	padding: 30px 100px 30px 100px;
}

.internal-links h4 {
	text-decoration: underline;
	font-size: 1.5rem;
	text-align: center;
	margin-top: 0;
	margin-bottom: 8px;
	color: #fff;
}

.links div {
	font-size: 1.2rem;
	margin:2px 0;
	cursor: pointer;
	display: flex;
	flex-direction: column;
}


.form-wrap {
	display: flex;
	align-items: flex-end;
	flex-basis: 50%;
}

form {
	display: flex;
	flex-direction: column;
	width: 100%;
}

input {
	border: none;
	outline: none;
	font-size: 1.6rem;
}

label {
	font-size: 1.3rem;
	padding: 3px 0;
}

button {
	margin-top: 20px;
	border: 1px solid #fff;
	width: 50%;
	font-size: 1.3rem;
	background-color: #4678c9;
	align-self: flex-end;
	color: #fff;
	padding: 4px 30px;
}

.dialog-wrap {
	background-color: rgba(0,0,0,0.7);
	position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 5;
    display: none;
}

dialog {
	position: fixed;
	background: #fff;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 500px;
	border: none;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

dialog div {
	font-size: 1.4rem;
	color: #fff;
	margin: 10px 0;
	outline: 1px solid #63889b;
}

dialog div:first-child {
	margin-top: 0px;
}

dialog .label {
	background-color: #63889b;
	padding: 7px;
	display: inline-block;
	width: 30%;
	margin: 0;
	text-align: center;
}

dialog .info {
	display: inline-block;
	padding-left: 5px;
	color: #000;
}

dialog button {
	border: none;
	width: 100%;
	margin: auto;
	padding: 7px;
	position: relative;
	top: 10px;
}

dialog button:hover {
	cursor: pointer;
	transition: all .3s ease;
	background-color: #0675ad;
}

dialog div:last-child {
	outline: none;
}

@media screen and (max-width: 1600px) {

	/*-----HEADER-----*/

	.header-info {
	font-size: 1.4rem;
	width: 392px;
	margin-left: 7%;
	}
}

@media screen and (max-width: 1400px) {

	/*-----HEADER-----*/

	header {
		height: 70vh;
	}

	/*-----MAIN-----*/

	.col p, .links {
		font-size: 1.1rem;
	}
}

@media screen and (max-width: 1200px) {

	/*-----NAV-----*/

	nav {
		font-size: 1.5rem;
	}

	.brand {
	    margin-left: 3%;
	}

	.nav-links {
	    margin-right: 3%;
	}

	/*-----HEADER-----*/

	.header-info {
		font-size: 1.3rem;
		width: 363px;
	}

	/*-----MAIN-----*/

	.col-1 img {
		width: 270px;
		height: 132px;
	}

	.col-2 img {
		width: 280px;
		height: 107px;
	}

	.col-3 img {
		width: 250px;
		height: 140px;
	}

	.col p, .links div, label {
		font-size: 1rem;
	}
}

@media screen and (max-width: 1000px) {

	/*-----MAIN-----*/

	.col p {
		width: 85%;
	}

	.col-1 img {
		width: 230px;
    	height: 112px; 
	}

	.col-2 img {
		width: 190px;
   		height: 82px;
	}

	.col-3 img {
		width: 210px;
    	height: 120px;
	}

	/*-----FOOTER-----*/

	button {
		font-size: 1.1rem;
	}

	dialog div {
    	font-size: 1.2rem;
	}
}

@media screen and (max-width: 900px) {

	/*-----NAV-----*/

	nav {
	    font-size: 1.4rem;
	}

	/*-----HEADER-----*/

	.header-info {
		font-size: 1.1rem;
		padding: 25px;
		width: 308px
	}


	header {
		height: 60vh;
	}
}

@media screen and (max-width: 850px) {

	/*-----FOOTER-----*/

    input {
	    font-size: 1.3rem;
	}

	footer {
		padding: 30px 70px 30px 70px;
	}
}

@media screen and (max-width: 800px) {

	/*-----MAIN-----*/

	main {
		padding: 0 10px;
	}

	.col-1 img {
	    width: 190px;
	    height: 92px;
	}

	.col-3 img {
	    width: 170px;
	    height: 100px;
	}

	.col-2 {
		padding-top: 30px;
	}

	.col {
		    margin: 0 10px;
	}
	
	.col p {
		width: 100%;
	}

	/*-----FOOTER-----*/

	footer {
		margin-top: -20px;
	}

	button {
		width: 100%;
	}
}

@media screen and (max-width: 765px) {

	/*-----FOOTER-----*/

	.col p, .links, label {
	    font-size: 0.9rem;
	}

	dialog {
		width: 400px;
	}
}

@media screen and (max-width: 728px) {

	/*-----NAV-----*/

	nav {
    	font-size: 1.2rem;
	}

	/*-----FOOTER-----*/

	.internal-links h4 {
	    font-size: 1.3rem; 
	}
}

@media screen and (max-width: 650px) {

	/*-----MAIN-----*/

	.col-1 img {
	    width: 160px;
	    height: 80px;
	}

	.col-2 img {
	    width: 170px;
	    height: 70px;
	}

	.col-3 img {
	    width: 140px;
	    height: 87px;
	}
}

@media screen and (max-width: 600px) {

	/*-----HEADER-----*/

    .comp-name {
    	position: relative;
    	right: 15px;
    }

    .nav-links .link {
    	margin-right: 0;
    	margin-left: 16px;
    }

	/*-----MAIN-----*/

	main {
		flex-direction: column;
	}

	.col-1 img {
	    width: 230px;
	    height: 112px;
	}

	.col-2 img, .col-2 h3, .col-2 p {
	    position: static;
	}

	.col-2 img {
	    width: 280px;
	    height: 119px;
	}

	.col-3 img {
	    width: 210px;
	    height: 120px;
	}

	.col {
		padding: 30px 0 20px 0;
	}

	.col p {
	    width: 90%;
	}

	/*------FOOTER-----*/

	button {
    	font-size: 1rem;
    }

	footer {
		margin-top: 0;
	}
}

@media screen and (max-width: 550px) {

	/*------NAV-----*/

	nav {
		padding: 15px 0;
	}

	.logo {
		max-width: 60px;
	}

	.ham-menu {
		display: flex;
		flex-direction: column;
		margin-right: 3%;
		cursor: pointer;
	}

	.nav-links {
		display: none;
	}

	.b1, .b2, .b3 {
		width: 45px;
		height: 5px;
		margin: auto;
		background-color: #4678c9;
		position: relative;
		transition: all .2s ease;
	}

	.ham-open .nav-links {
		display: flex;
		position: fixed;
	    left: 0;
	    right: 0;
	    top: 0;
	    bottom: 0;
	    flex-direction: column;
	    background-color: rgba(0,0,0,0.5);
	    margin: 0;
	    padding: 100px 0;
	}

	.ham-open .nav-links .link {
		font-size: 2.2rem;
		margin: auto;
		color: #fff;
	}

	.ham-open .comp-name {
		color: #fff;
	}

	.ham-open .b1 {
		background-color: #fff;
		transform: rotate(45deg) translate(8px, 8px);
	}

	.ham-open .b2 {
	    opacity: 0;
	}

	.ham-open .b3 {
		background-color: #fff;
		transform: rotate(-45deg) translate(9px, -9px);;
	}

	/*-----HEADER-----*/

	header {
		margin-top: 66px;
	}

	.header-info {
		display: block;
		position: relative;
		top: 40px;
		margin-right: auto;
		margin-left: auto;
	}

	/*-----FOOTER-----*/

	footer {
	    padding: 30px 40px 30px; 
	}

@media screen and (max-width: 500px) {

	/*-----FOOTER-----*/

	.internal-links h4 {
	    font-size: 1.1rem;
	}

	.links div, label {
	    font-size: 15px;
	}

	button {
	    margin-top: 8px;
	}

	footer {
	    padding: 20px 30px 20px;
	}

	dialog {
	    width: 340px;
	}
}

@media screen and (max-width: 450px) {

	/*-----FOOTER-----*/

	footer {
		flex-direction: column;
	}

	.internal-links {
		margin-bottom: 30px;
	}

	.links {
		text-align: center;
	}
}

@media screen and (max-width: 400px) {
	
	/*-----HEADER-----*/

	.header-info {
		font-size: 15px;
		padding: 15px;
		width: 262px;
	}

	/*------FOOTER-----*/

	dialog {
	    width: 270px; 
	}
}
